{% extends 'movie_db/base.html' %}
{% load humanize %}
{% block content %}
   {% if user.is_authenticated %}

<div class="portfolio">
      <div class="container-fluid">
      	<div class="row">
         	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
         		<h2 class="title">{{ film_detail.primarytitle | safe }}, {{ film_detail.startyear | safe }}</h2>
				<h4 class="sub-head">Rated <strong>{{film_detail.averagerating}}</strong> based on <strong>{{film_detail.numvotes|intcomma}}</strong> votes</h4>
         	</div>
         	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
         		{% if user.is_authenticated %}
             		<a class="btn btn-outline-secondary" href="{% url 'title_update' film_detail.pk %}" style='float:right;'>edit</a>
          		 {% endif %}
         	</div>
         	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
           		{% if user.is_authenticated %}
             		&nbsp;<a class="btn btn-outline-warning" href="{% url 'title_delete' film_detail.pk %}">delete</a>
          		 {% endif %}
         	</div>
				
      	</div>
		<div class="row">
			
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<p>Starring {{ film_detail.actor_names }} </p>
		
			</div>

			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Directed by {{ film_detail.director_names }} </p>
		
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<p>Written by {{ film_detail.writer_names }} </p>
		
			</div>
		</div>
		<div class="row">
			<!-- <iframe src="http://www.imdb.com/title/{{ film_detail.title_id}}"></iframe> -->
		</div>
	  </div>
</div>
	
  {% else %}
      <a href="{% url 'login' %}">Log in</a>
  {% endif %}
{% endblock content %}