{% extends 'movie_db/base.html' %}

{% block content %}

<!--======= PORTFOLIO =========-->
    <div class="portfolio">
      <div class="container-fluid">
        <ul class="row items">

          {% for title in object_list %}
          
          <!-- Portfolio Item -->
            <li class="item col-md-3 no-padding  photo"> 
              <!-- Image --> 
              <img class="img-responsive" src="http://img.omdbapi.com/?i={{title.title_id}}&h=600&apikey=4ccd31d2" alt="" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/s3.kzjkfm.radio.com/styles/delta__775x515/s3/amywinehouse2207r.jpg?itok=vKA-s9tl&c=251e072e26d968bf4893812a5ea8f2a2';"> 
              <!-- Hover Section -->
              <div class="hover-sec"> 
                <!-- Hover Link --> 
                <a href="portfolio-single.html" class="hover-in"> <span class="name">{{ title.primaryname | safe}}</span>
                <hr>
                <span class="cat">Branding</span> </a> </div>
            </li>

         {% empty %}
          No results found.
         {% endfor %}

          
        </ul>
      </div>
    </div>

{% endblock content %}