{% extends 'movie_db/base.html' %}
{% load humanize %}
{% block content %}
    {% if user.is_authenticated %}

<!--======= PORTFOLIO =========-->
    <div class="portfolio">
      <div class="container-fluid">
      <h2 id="page-title">Welcome to IMDB's top rated 5,000 films.</h2>
        <ul class="row items">

          {% for title in object_list %}
          <!-- Portfolio Item -->
          <!-- <div class="item-div"> -->
            <li class="item col-md-2 photo fade"> 
              <!-- Image --> 
              <img class="img-responsive" src="http://img.omdbapi.com/?i={{title.title_id}}&h=600&apikey=4ccd31d2" alt="" onerror="this.onerror=null;this.src='https://s3.us-east-2.amazonaws.com/s3.kzjkfm.radio.com/styles/delta__775x515/s3/amywinehouse2207r.jpg?itok=vKA-s9tl&c=251e072e26d968bf4893812a5ea8f2a2';">
              <div class="thumb-title">
                  <!-- <h4>{{title.primarytitle}}</h4> -->
                  <div class="thumb-sub sub-year">{{title.startyear}}</div>
                  <div class="thumb-sub sub-rating">{{title.averagerating}}</div> 

              </div>
              <!-- Hover Section -->
              <div class="hover-sec"> 
                <!-- Hover Link --> 
                <a href="{% url 'film_detail' title.pk %}" target = "_blank" class="hover-in"> <span class="name">{{ title.primarytitle | safe }}</span>
                <hr>
                <!-- <span class="cat">Branding</span> </a> </div> -->
                <p>{% if title.genres|length > 80 %}
                        {{title.genres|slice:80}}
                   {% else  %}
                        {{title.genres }}
                   {% endif %}</p>
                <p>Runtime: {{ title.runtimeminutes }} minutes</p>
                <p style="line-height: 16px;">Rated {{title.averagerating}}/10 based on <strong>{{title.numvotes|intcomma}} votes</strong>.</p>

            </li>
          <!-- </div> -->


         {% empty %}
          <h1 class="placeholder">Click the Search icon on the left to get started.</h1>
         {% endfor %}

        </ul>
      </div>
    </div>
  {% else %}
      <a href="{% url 'login' %}">Log in</a>
  {% endif %}
{% endblock content %}