{% extends 'movie_db/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <h2>New Title</h2>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate  class = 'search-form'>
    {% csrf_token %}


    <!--title-->
    <div class="row">
      <div class="col-6">
        {{ form.primarytitle|as_crispy_field }}
      </div>
    </div>



    <button type="submit" class="btn btn-outline-success">Add</button>
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'home' %}">cancel</a> <!--FIXED url used to be just 'site', changed to 'sites'-->
  </form>

{% endblock content %}